.input {
    background-color: var(--dark-900);
    border-radius: 3px;
    color: var(--white);
    padding: 1rem;
    border: 1px solid var(--gray-100);
    width: 100%;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}